body {
	/* font-family: "Elsie", cursive; */
	background-image: url("../images/dot-grid.png");
	font-size: 0.8em;
	/* margin: 5px; */
	align-self: auto;
	color: rgb(47, 1, 77);
	font-family: "Special Elite", cursive;
	line-height: 1em;
}
.jumbotron {
	font-size: 0.7em;
	font-family: "Special Elite", cursive;
	background-image: url("../images/dot-grid.png");
}
#title {
	font-family: "Special Elite", cursive;
	font-size: 5em;
	padding: 3px;
	color: white;
	background-color: rgb(250, 212, 248);
	text-align: center;
	align-items: center;
}

#rules-area {
	background-image: url("../images/dot-grid.png");
	color: rgb(47, 1, 77);
	text-align: left;
	/* padding: 1px; */
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#random-area {
	text-align: center;
	/* display: inline-block; */
	position: relative;
	background-color: lavender;
}

#score-area {
	align-items: center;
	text-align: center;
	display: inline-block;
	background-color: lavender;
}

.crystals-button {
	/* display: inline; */
	size: 75px;
}
#crystal-area {
	align-self: auto;
	/* text-align: center;
	display: inline-block; */
	/* align-items: center; */
}
.crystal-img {
	text-align: center;
	/* display: inline; */
	/* align-items: flex-start; */
	/* align-self: auto; */
	size: 15px;
	background-image: url("../images/dot-grid.png");
	border-style: double;
	border-color: rgb(47, 1, 77);
}
.img {
	size: 25px;
	display: inline;
}
#win-area {
	text-align: center;
	display: inline-block;
	width: fit-content;
	font-size: 1.5em;
	line-height: 2em;
}
.main-body #main {
	position: relative;
	/* display: inline; */
	background-image: url("../images/dot-grid.png");
}

.card-deck {
	position: relative;
	align-self: auto;
}
.container {
	align-self: auto;
	margin: auto;
	/* display: inline; */
	background-image: url("../images/dot-grid.png");
}
#random-area {
	text-align: center;
	display: inline-block;
	font-size: 2em;
	align-items: center;
}
#score-number {
	text-align: center;
	display: inline-block;
	font-size: 2em;
	align-items: center;
}
.card-body {
	background-image: url("../images/dot-grid.png");
}
.card {
	text-align: center;
	display: inline-block;
	background-color: lavender;
	align-items: center;
	text-align: center;
	display: inline-flex;
}
h3 {
	text-align: center;
	display: inline-block;
	margin: 15%;
	align-self: auto;
	line-height: 2em;
}
