body {
	background-image: url("../images/dot-grid.png");
	font-size: 1.2em;
	margin: 15px;
	align-self: auto;
}

#title {
	font-size: 2.5em;
	padding: 3px;
	color: white;
	background-color: rgb(250, 212, 248);
	text-align: center;
	align-items: center;
}

#rules-area {
	text-align: left;
	padding: 1px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

#random-area {
	display: inline-flex;
	position: relative;
	color: rgb(254, 254, 255);
	background-color: rgb(250, 212, 248);
	border-style: dotted;
	border-color: black;
}

#score-area {
	display: inline-flex;
	background-color: rgba(252, 218, 252, 0.973);
	/* color: rgb(254, 254, 255); */
}

.crystals-button {
	display: inline;
}
#crystal-area {
	align-items: center;
	text-align: center;
}
.crystal-img {
	display: inline-block;
	width: 108px;
	height: 108px;
	background-color: rgb(218, 212, 247);
	border-style: double;
	border-color: rgb(208, 199, 250);
}
#win-area {
	padding: 1px;
	width: fit-content;
	font-size: 1.52em;
	background-color: rgb(222, 217, 248);
}
.main-body #main {
	position: relative;
	display: inline;
}

.card-deck {
	position: relative;
	align-self: auto;
}
.container {
	align-self: auto;
	margin: auto;
	display: inline;
}
#random-area {
	font-size: 3.4em;
	padding: 5px;
	align-items: center;
}
#score-number {
	font-size: 3.3em;
	align-items: center;
}
